header{
	background: url("../images/header-background.png") 0px 0px / contain no-repeat;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	font-family: Myriad Pro;
	text-align: center;
}

h1{
	margin: 30px;
	padding: 30px;
	word-spacing: 3px;
}

.logo > img{
	padding-top: 185px;
	width: 40px;
}

.header-content{
	text-transform: uppercase;
	word-spacing: 3px;
	font-size: 12px;
}

.main-content{
	width: 100%;
	position: relative;
	overflow: hidden;
	display: block;
}

.label{
	background: url("../images/lable.png") no-repeat 100% 100%;
	/*width: 32%;*/
	height: 237px;
	float: left;
	margin-right: 0.5%;
	margin-bottom: 0.5%;
	background-size: contain;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

.label:nth-last-child(6){
	clear: both;	
}

.label-item-small{
	width: 28.5%;	
}

.label-item-big{
	width: 41.5%;	
}

.label:nth-child(3),
.label:nth-child(6){
	margin-right: 0;	
}

.label-item-small{
	background: url("../images/market.png") no-repeat 100% 100%;	
	height: 237px;
	float: left;
	margin-right: 0.5%;
	margin-bottom: 0.5%;
	background-size: contain;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

.label h2{
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	bottom: 0;
	padding: 5px;
}

footer{
	color: #000;
	font-family: Myriad Pro;
	text-align: center;
	display: block;
	/*position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	font-size: 11px;*/
}

footer img{
	height: 20px;
	vertical-align: middle;
	margin: 20px;
}